
<!DOCTYPE html>
<html>
<head>
	<title>Play</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	
</head>


<body>
    <div>
        <app-mainnavbar></app-mainnavbar>
    </div>
    <br>
    <br>
    <br>
    <br>
<div class="playcontent">
    <div class="row">
  
        
       
          
            <div class="column">

                <video  style="width: 80%;"  poster="https://st3.depositphotos.com/1001069/18596/i/600/depositphotos_185960324-stock-photo-audio-book-concept-headphones-books.jpg" controls>
                    <source src="http://mobvd.com/download.php?id=10396&amp;format=144-3gp&amp;ext=3gp" type="video/mp4">
                    <source src="http://mobvd.com/download.php?id=10396&amp;format=144-3gp&amp;ext=3gp" type="video/ogg">
                        <source src="http://mobvd.com/download.php?id=10396&amp;format=144-3gp&amp;ext=3gp"
                        type="video/webm">
                        <source
                        src="http://mobvd.com/download.php?id=10396&amp;format=144-3gp&amp;ext=3gp"
                        type="video/avi">
                 </video>
               
              </div >
          
                <div class="column">
                
                <h2 style="text-align: center ; text-shadow: 2px 2px;"> <span class="glyphicon glyphicon-tag"></span>  Book Detail</h2>
                
                <label for="wname" style="font-weight: 900;">Book Name* </label><br>
                <input type="text" id="wname" name="writername" placeholder="writer"><br><br>

                 
                <label for="wname" style="font-weight: 900;">Auther Name* </label><br>
                <input type="text" id="wname" name="writername" placeholder="writer"><br><br>

                <label for="wname" style="font-weight: 900;"> Book categorie* </label><br>
                <input type="text" id="wname" name="writername" placeholder="writer"><br><br>

                <label for="wname" style="font-weight: 900;"> Price*(Rs) </label><br>
                <input type="text" id="wname" name="writername" placeholder="Price"><br>



                 
                </div >

          </div>
	
		
        
	
</div>

</body>
</html>

