 div.scrollmenu {
  
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    height: 460px;
    scrollbar-width: none;
    width: 1366px;
    
  }
  

  
  
  .container {
  padding: 15px 12px;
  /* margin: 10px; */
  }
  
  .cardbox{
    display: inline-block;
    border: 1px solid;
    width: 220px;
    height: 320px;
    margin:  10px  25px 0px 20px;
    box-shadow: 5px 10px #888888;
  
  
  }

  
  .button{
  margin:  0px 10px 10px 10px;
  }
  


