<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   
   </head>

   <body *ngIf="!selectedbook">
   <app-mainnavbar ></app-mainnavbar>
   <br>
   <br>
   <br>
   <!-- card  -->
   
    <div class="scrollmenu ">
       
      <h2>Punjabi Song:</h2>
   
       <div class="cardbox" *ngFor="let item of booklist">
           <div class="card">
           
             <img src={{item.src}} alt="Avatar" style="width:100%; height: 170px;    margin-bottom: 10px; ">
             
           </div>
       
          
             <div class="container">
               <h4><b>Book:{{item.bookname}}</b></h4> 
               <p>Auther:{{item.authername}}</p>              
               <button type="button" class="btn btn-primary  button" (click)="onclick(item)">Play</button>
               <button type="button" class="btn btn-success button" [routerLink]='["/premimum"]'>Download</button>
               <router-outlet></router-outlet>
            
             </div>

       </div>   


</div>


<div class="scrollmenu "  >
    
  <h2>Nobel:</h2>
   <!-- *ngIf="[item.bookcategories]=='Nobel'" -->
     <!-- <div > -->
    <div class="cardbox" *ngFor="let item of booklist">
      
      <div class="card" >
      
        <img src={{item.src}} alt="Avatar" style="width:100%; height: 170px;    margin-bottom: 10px; ">
        
      </div>
  
     
        <div class="container">
          <h4><b>Book:{{item.bookname}}</b></h4> 
          <p>Auther:{{item.authername}}</p>              
          <button type="button" class="btn btn-primary  button" (click)="onclick(item)">Play</button>
          <button type="button" class="btn btn-success button" [routerLink]='["/premimum"]'>Download</button>
          <router-outlet></router-outlet>
       
        </div>

  </div>   
<!-- </div> -->



</div>


<!-- 3 -->

<div class="scrollmenu ">

  <h2>Song:</h2>
 

    <div class="cardbox" *ngFor="let item of booklist">
      <div class="card">
      
        <img src={{item.src}} alt="Avatar" style="width: 220px; height: 170px;    margin-bottom: 10px; ">
        
      </div>
  
     
        <div class="container">
          <h4><b>Book:{{item.bookname}}</b></h4> 
          <p>Auther:{{item.authername}}</p>              
          <button type="button" class="btn btn-primary  button" (click)="onclick(item)">Play</button>
          <button type="button" class="btn btn-success button" [routerLink]='["/premimum"]'>Download</button>
          <router-outlet></router-outlet>
       
        </div>

  </div>   



 </div>

   <!-- card -->
</body>

<div *ngIf="!selectedbook">
   <app-mainfooter></app-mainfooter>
  </div>
</html>
   
<app-description *ngIf="selectedbook"  [book]="selecteddata"></app-description>
   