body,html {
    height: 100%;
    margin: 0;
}




  video{
      margin: 0px;
      border-style: solid;
      height: 450px;
      width: 500px;
      

     
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  

    input[type=text]{
      width: 300px;
      padding: 12px 20px;
      margin: 8px 0;
      /* display: inline-block; */
      border: 2px solid #ccc;
      border-radius: 4px;
     
    }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  

  .left {
    left: 0;
    
    
  }
  
  .right {
    border-left: 2px solid black;
    right: 0;
 
  }
