footer {
  text-align: center;
  padding: 3px;
  background-color: black;
  color: white;
  height: 250px;
  margin: 0px;
  /* position: absolute; */

  width: 100%;
 
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
  border-left: 0.5px solid #bebeb9;
  /* height: 220px;   */

  margin-top: 30px;

}

.link1 {
  color: white;
}
