<head>
  <!-- <title>AudioBookLibrary Premium</title> -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>



<div id="footer">
  <footer>
    <div class="row">


      <div class="column">
        <div>
          <h3>About</h3>
          <br>
          <a class="link1" [routerLink]='["/home"]'>Home</a> <br><br>
          <a class="link1" [routerLink]='["/premimum"]'>Premimum</a>
          <br><br>
          <a class="link1" [routerLink]='["/gallery"]'>Gallery</a>
          <br><br>
        </div>
        <router-outlet></router-outlet>
      </div>

      <div class="column">
        <div>
          <h3>Services</h3>
          <br>
          <a class="link1" [routerLink]='["/premimum"]'>Buybook</a> <br> <br>
          <a class="link1" [routerLink]='["/home"]'>Play</a>
          <br> <br>
          <a class="link1" [routerLink]='["/logout"]'>Logout</a>
          <br> <br>
        </div>
      </div>


      <div class="column">
        <h3>Motivation</h3>
        <br>
        <h5> Now easily Read&Play your AudioBooks Online.</h5>
      </div>

      <div class="column">
        <h3>Developed By</h3>
        <a href="https://www.linkedin.com/in/pratik-b-7961a5138/" target="_blank">
          <h5> @Pratik Bansal</h5>
        </a>
        <a href="https://www.linkedin.com/in/ronak-nanda-499547202" target="_blank">
          <h5>@Ronak Nanda</h5>
        </a>
        <a href="https://www.linkedin.com/in/madhavi-muli-55a184175/" target="_blank">
          <h5> @Madhavi Muli</h5>
        </a>
        <a href="https://www.linkedin.com/in/botla-anil-9632a51b8" target="_blank">
          <h5> @Botla Anil </h5>
        </a>
        <a href="https://www.linkedin.com/in/kethinedi-sai-mahesh-731b101b8" target="_blank">
          <h5>@Sai Mahesh</h5>
        </a>
        <a href="https://www.linkedin.com/in/srilekha-battula-95009b16a/" target="_blank">
          <h5>@Srilekha Battula</h5>
        </a>
      </div>

    </div>
  </footer>
</div>
